<div class="row team-info">
  <div class="col-sm-3 team-info-mini">
    <p><img src="images/team-metabief.png"></img></p>
  </div>
  <div class="col-sm-8">
    <div style="width: 76%" class="bar" id="metabief">
      <p><span class="percentage">{{elements['Team METABIEF'].value}}</span><br /><span class="percentage-">des recettes</p>
      <p class="comment">{{ elements['Team METABIEF'].text }}</p>
    </div>
  </div>
</div>
<div class="row team-info">
  <div class="col-sm-3 team-info-mini">
    <p><img src="images/team-2alpes.png"></img></p>
  </div>
  <div class="col-sm-8">
    <div style="width: 100%" class="bar" id="deuxalpes">
      <p><span class="percentage">{{elements['Team LES 2 ALPES'].value}}</span><br />des recettes</p>
      <p class="comment">{{ elements['Team LES 2 ALPES'].text }}</p>
    </div>
  </div>
</div>
<div class="row team-info">
  <div class="col-sm-3 team-info-mini">
    <p><img src="images/team-courchevel.png"></img></p>
  </div>
  <div class="col-sm-8">
    <div style="width: 50%" class="bar" id="courchevel">
      <p><span class="percentage">{{elements['Team COURCHEVEL'].value}}</span><br />des recettes</p>
      <p class="comment">{{ elements['Team COURCHEVEL'].text }}</p>
    </div>
  </div>
</div>
